* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}
body {
  margin-inline: auto;
  overflow-x: hidden;
}
header div{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 60px;
}
#jisceLogoContainer img{
  width: 110px;
  height: 110px;
}
#clgDetails_container{
  display: block;
  text-align: center;
}
.labHeading{
  font-family: Tinos,serif;;
  font-size: 3rem;
  font-weight: 300;
  --tw-text-opacity: 1;
  color: rgb(194 65 12/var(--tw-text-opacity));
}
.clgHeading{
  font-size: 25px;
  font-weight: 600;
  padding: 10px 0;
}
.clgMoto{
  font-size: 15px;
  font-weight: 500;
}
#IdeaLab_LogoContainer img{
  width: 130px;
  height: 130px;
  mix-blend-mode: darken;
}
.navOptions{
  width: 100vw;
  overflow: hidden;
}
.sticky{
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
}
header nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(226, 219, 219, 0.75);
}
header nav ul li{
  list-style-type: none;
  padding: 18px 60px;
  line-height: 15px;
  border-bottom: rgba(211, 203, 203, 0) 4px solid;
}
header nav ul li a{
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #000;
  cursor: pointer;
}
header nav ul li:hover .navOptions-a{
  color: #fe435b;
  transition: all 0.5s ease;
}
header nav ul li:hover{
  border-bottom: #fe435b 4px solid;
  transition: all 0.5s ease;
}
#account:hover #nav{
  display: block; 
  /* position: absolute; */
  margin-top: 15px;
  margin-left: -47px;
  transition: all 0.5s ease;
}
#account:hover #nav ul{
  display: block; 
  background-color: rgba(206, 195, 195, 0.5);
  border-radius: 10px;
}
#account:hover #nav ul li{
  margin: 10px;
  padding: 13px;
  /* background: transparent; */
  border-bottom: 1px solid rgb(0, 0, 0);
}
#account:hover #nav ul li:last-child{
  border-bottom: none;
}

/* banner section starts from here */

.banner{
  width: 100vw;
  height: 100vh;
}
.BnrContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
.BnrContainer img{
  background-position: center, center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

/* banner section ends here */
/* about section starts from here */

#about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shadow{
  text-transform: uppercase;
  position: relative;
  font-size: 125px;
  font-weight: 900;
  font-family: Montserrat;
  color: rgb(137, 137, 240);
  opacity: 0;
  transform: translateX(-50%);
  transition: transform 1s ease;
}
.shadow.show{
  transform: translateX(0);
  opacity: 0.2;
}
.shadowUprText{
  margin-top: 3.5%; 
  font-family: Montserrat;
  font-size: 45px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  position: absolute;
  transform: translateX(50%);
  transition: transform 1s ease;
  opacity: 0;
}
.shadowUprText.show{
  transform: translateX(0);
  opacity: 1;
}
.textShadowBorder{
  border-bottom: 0.35vw rgb(6, 143, 255) solid;
  width: 7%;
  margin-top: 8%;
  position: absolute;
  transform: translateX(50%);
  transition: transform 1s ease;
  opacity: 0;
}
.textShadowBorder.scrollAnimation.show{
  transform: translateX(0);
  opacity: 0.65;
}
.shadow-text-div{
  display: flex;
  justify-content: center;
  padding: 5% 0%;
}

.flex {
  display: flex;
  align-items: center;
}
.lab {
  margin: 30px 50px;

  border-radius: 25px;
}
.lab-1 {
  background: #afcce1;
  box-shadow: 5px 5px 5px 5px #e8f1f7;
}
.lab-2 {
  background: #f4d4f1;
  box-shadow: -5px 5px 5px 5px #f9e9f8;
}
.lab-3 {
  background: #cdf7ce;
  box-shadow: 5px 5px 5px 5px #ebfcec;
}
.lab-4 {
  background: #fddedc;
  box-shadow: -5px 5px 5px 5px #fef4f3;
}
.lab-cont {
  gap: 30px;
  padding: 2.5rem;
  overflow: hidden;
}

.lab-img img {
  border: solid;
  width: 100%;
  border-radius: 15px;
}

.lab-txt {
  flex-direction: column;
  align-items: flex-start;
}
.lab-heading {
  font-size: 2rem;
}
.lab-para {
  margin-top: 20px;
  font-size: 1.2rem;
}


/* Code for navigation panel for smartphone use and footer section */

/* footer section starts from here */

footer{
  display: flex;
  justify-content: center;   
}
#centerFooter{  
  --tw-bg-opacity: 1;
  background-color: rgb(18 18 18/var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(252 252 252/var(--tw-text-opacity));
  font-family: Montserrat, sans-serif;
  height: auto;
  width: 100vw;
  padding-bottom: 14.35%;
}
#alignFooter{
  display: flex;
}

/* Code for social media section */ 

#social{
  display: flex;
  flex-direction: column;
}
#social .footerMoto p{
  padding: 50px 55px;
  margin-right: 30px;
  width: 550px;
}
a{
  text-decoration: none;
  color: white;
}
ul{
  list-style-type: none;
}
#social .socialIcons ul{
  display: flex;
  margin-left: 35px;
}
#social .socialIcons ul li{
  padding: 10px 25px;
}
#social .socialIcons ul li i{
  font-size: 25px;
  cursor: pointer;
  transition: all 0.5s ease;
}
#social .socialIcons ul li i:hover{
  color: cornflowerblue;
}

/* Code for social media section */

.quickLinksP{
  font-family: Poppins, sans-serif;
  font-size: 17px;
  font-weight: 600;
  padding-top: 50px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.linksFooter ul li a{
  font-size: 18px;
  font-weight: 300;
}
.linksFooter ul li a:hover{
  color: cornflowerblue;
  transition: all 0.5s ease;
}
.linksFooter{
  padding: 0px 35px;
}
.linksFooter ul li{
  display: block;
  padding: 10px 0px;
}
.linksFooter ul li a{
  cursor: pointer;
}

/* newsletter section */

#newsletterSection{
  display: block;
  justify-content: center;
  padding-left: 30px;
  text-align: center;
}
#newsletterSection input{
  margin: 10px 0px;
  padding: 10px 30px;
  background: transparent;
  font-size: 15px;
  border-radius: 5px;
  color: white;
  border: rgba(255, 255, 255, 0.3) 1px solid;
}
#newsletterSection button{
  padding: 10px 82px;
  font-size: 15px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  transition: 0.7s ease;
}
#newsletterSection button:hover{
  background-color: rgba(255, 255, 255, 0.8);
}

/* section to "connect with us" */

#connectDiv{
  display: flex;
  padding: 10px 0px;
  justify-content: center;
}
.connectLink{
  color: cornflowerblue;
  padding-left: 5px;
  font-weight: 400;
  transition: all 0.5s ease;
}
.connectLink:hover{
  text-decoration: underline;
}

/* section to "connect with us" */
/* newsletter section */
/* footer section ends here */

footer #branding pre{
  position: absolute;
  font-family: Inter,ui-sans-serif,system-ui,sans-serif;;
  font-size: 13rem;
  letter-spacing: 0.55rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(252 252 252/var(--tw-text-opacity));
  opacity: 0.16;
}
footer #branding{
  display: flex;
  justify-content: center;  
}

/* The section after footer */

#heart{
  position: relative;
  background-color: #252b33;
  display: flex;
  justify-content: center;
}
#heart p{
  padding: 20px 0px;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 500;
}
#heart i{
  padding: 0px 5px;
  font-family: 18px;
  color: red;
}

/* footer section ends here */

/* code for smartphone use */

#menubar span{
  display: none;
  font-size: 40px;
  cursor: pointer;
  color: #000;
  margin-right: 15px;
}
#click{
  display: none;
}
#Branding{
  padding-left: 15px;
}
#Branding img{
  height: 50px;
  width: 50px;
  border-right: #000 1px solid;
  cursor: pointer;
}
#Branding img:last-child{
  border-right: none;
}
#Branding img:first-child{
  padding-right: 5px;
}
#responsiveNavbar{
  background-color: white;
  width: 100%;
  padding: 1% 0%;
  display: none;
}
.nav-options a{
  font-size: 20px;
  font-weight: 500;
  color: #000;
  cursor: pointer;
  transition: all 0.5s ease;
}
.nav-options{
  text-align: center;
}
.nav-options a:hover{
  color: cornflowerblue;
}
#navOptionsDiv_res{
  display: none;
}

/* footer for mobile use */

#footerMobile{
  display: none;
}
#footerMobile{
  background-color: #343a40!important;
}
#footerMobile{
  padding-bottom: 0%;
  padding-top: 3%;
}
#footerMobile .shadow{
  color: white;
}
#footerMobile .shadowUprText{
  color: white;
}
.body-p{
  font-size: 1.15vw;
  font-family: Montserrat;
  font-weight: 500;
  color: white;
  padding: 0vw 3vw;
}
.body-p.body-heading{
  font-weight: 600;
  margin: 2vw 0vw;
}
.body-p.body-p-address{
  padding: 0.3vw 3vw;
}
#contact-details{
  margin: 2vw 3.25vw;
}
#contact-details ul li span{
  color: cornflowerblue;
  font-size: 1.85vw;
}
#contact-details ul li{
  display: flex;
  margin: 0.7vw 0vw;
}
#footerMobile #body-footer-icons .social i{
  color: white;
  margin: 10px 20px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 18px;
}
#footerMobile #body-footer-icons .social{
  display: inline-flex;
  list-style-type: none;
  text-decoration: none;
}
#footerMobile #body-footer-icons .social i:hover{
  color: cyan;
}
#footerMobile #body-footer-icons{
  margin: 0vw 2vw;
}
#inline-follow{
  display: inline-block;
}
.send-details{
  background-color: #232a31;
  color: white;
  /* padding: 1.25vw 2.2vw; */
  padding: 10px 10px;
  border-radius: 5px;
  font-family: Montserrat;
  font-size: 15px;
  margin: 0px 5px;
  font-weight: 400;
  text-align: left;
  border: #232a31 0.5px solid;
}
#align-send-details{
  display: inline-flex;
  margin: 0vw 20px;
}
#send-msg{
  /* padding: 3vw 12.4vw; */
  padding: 25px 115px;
  margin: 15px 25px;
  border: #232a31 0.5px solid;
}
#note{
  text-align: left;
}
#send{
  background-color: cornflowerblue;
  color: white;
  font-family: Montserrat;
  font-size: 1.3vw;
  font-weight: 400;
  cursor: pointer;
  padding: 0.95vw 2vw;
  margin: 10px 120px;
  display: inline-flex;
  border-radius: 40px;
  border: none;
  transition: 0.7s ease all;
}
#send span{
  font-size: 1.8vw;
}
#send:hover{
  background-color: yellowgreen;
}
#details{
  display: block;
}
#needs_enquiry_form{
  display: block;
}
#align-details{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 0vw;
  padding: 2vw 0vw;
}
#footer-logo{
  font-size: 30px;
  text-transform: uppercase;
  font-family: Montserrat;
  font-weight: 500;
}
#brand{
  font-family: Montserrat;
  font-size: 1vw;
  color: white;
  font-weight: 400;
}
#footer-brand{
  text-align: center;
  background-color: #252b33;
  padding: 1.3vw 2vw;
}

/* footer for mobile use */

/* Code for smartphonr use */


@media only screen and (max-width: 500px) {
  .lab-cont {
    flex-direction: column;
    padding: 20px;
  }
  .lab-2 {
    box-shadow: 5px 5px 5px 5px #f9e9f8;
  }
  .lab-4 {
    box-shadow: 5px 5px 5px 5px #fef4f3;
  }
  .media-lab {
    flex-direction: column-reverse;
  }

/* navigation panel for smartphone use */

#menubar span{
  display: block;
}
#responsiveNavbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 3;
}
#navOptionsDiv_res{
  position: absolute;
  display: none;
  background-color: white; 
  right: 2%;
  top: 65px;
  padding: 0.1% 5%;
  border-radius: 5px;
  list-style-type: none;
  z-index: 2;
}
.nav-options{
  margin: 20px 0;
}
.nav-options a{
  font-size: 15px;
}
#click:checked ~ #navOptionsDiv_res{
  display: block;
}

/* navigation panel for smartphone use */

#jisceLogoContainer img{
  display: none;
}
#IdeaLab_LogoContainer img{
  display: none;
}
#clgDetails_container{
  display: none;
}
.navOptions{
  display: none;
}
.BnrContainer img{
  background-position: center, center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
.banner{
  background-image: linear-gradient(rgba(0,0,0.5,0),rgba(0, 0, 0.5,1));
  height: 100vh;
  width: 100vw;
}

.shadow{
  font-size: 60px;
  font-weight: 800;
}
.shadowUprText{
  font-size: 25px;
  margin-top: 20px;
}
.textShadowBorder{
  border-bottom: 3px rgb(6, 143, 255) solid;
  width: 15%;
  margin-top: 52px;
}

/* footer  section */

#myDiv footer, #heart{
  display: none;
}
#footerMobile{
  display: block;
}
.body-heading{
  margin: 35px 35px;
}
.body-heading.body-p{
  font-size: 22px;
  margin: 20px 0px;
}
.body-p{
  font-size: 13px;
  margin: 5px 0;
}
.body-p-address{
  font-size: 16px;
  margin: 5px 0;
}
#contact-details{
  margin: 2vw 0vw;
  display: flex;
  justify-content: center;
}
#contact-details ul li p{
  font-size: 16px;
}
#contact-details ul li span{
  font-size: 20px;
}
#contact-details ul li:last-child{
  display: flex;
  justify-content: center;
}
#align-details div > div li span{
  font-size: 23px;
}
#footerMobile #body-footer-icons .social i{
  font-size: 19px;
  margin: 10px 18px;
} 
#align-details{
  display: block;
  text-align: center;
  padding: 30px 0;
}
#align-send-details{
  display: block;
}
#send{
  font-size: 15px;
  padding: 10px 25px;
  margin-left: 63px;
}
#send span{
  font-size: 20px;
}
#note{
  text-align: center;
}
.send-details{
  font-size: 15px;
  padding: 5px 50px;
  margin: 3px 0px;
}
#send-msg{
  font-size: 15px;
  padding: 20px 50px;
  margin: 5px 20px;
}
#send{
  text-align: center;
  margin: 20px 0px;
}
#footer-logo{
  color: cornflowerblue;
  font-size: 25px;
  text-transform: uppercase;
  font-family: Montserrat;
  font-weight: 500;
}
#brand{
  font-size: 15px;
  margin: 10px 0;
}
#desktopFooter{
  display: none;
}
#heart{
  display: none;
}

/* footer section */
}